.button {
    background-color: #47e4c2;
    border: none;
    border-radius: 50px;
    font-size: .7rem;
    font-weight: 400;    
    padding: .35rem 1.2rem;
}

.button:hover {
    background-color: #8ae7d3;
}