.header_background {
    background-color: rgba(34,34,34,255)    ;
    width: 100vw;
    padding: 2% 10%;
}

.logo {
    width: 10%;
}

@media screen and (max-width: 700px) {
    .header_background {
    }
    
    .logo {
        width: 20%;
    }
}

@media screen and (max-width: 576px) {


  }